@font-face {
    font-family: font1;
    src: url("font1.woff2") format("woff2");
}
header {
    background-color: rgb(255, 255, 255);
    margin: 5px 10px;
    height: 60px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 1px rgb(212 212 212);
}
.header-span {
    font-family: font1;
    color: #9e0000;
    font-size: 25px;
    float: right;
    margin: 50% 22px;
}
.khabarha {
    background-color: #9e0000;
    margin: 10px 10px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 1px rgb(212 212 212);
    padding: 2px;
}
.khabarha-span1 {
    font-family: font1;
    color: black;
    float: right;
    margin: 3px 50px;
    font-size: 20px;
}
.not1 {
    background-color: #9e0000;
    height: 1px;
    margin: 42px;
}
.khabar {
    background: #f5f5f5;
    margin: 10px 20px;
    border-radius: 10px;
    padding: 3px 20px;
}
.khabar-div1, .khabar-div2 {
    direction: rtl;
}
.khabar-span1 {
    font-family: font1;
    margin: 10px 1px;
    font-size: 17px;
}
.khabar-span2 {
    font-family: font1;
    font-size: 14px;
    color: #484848;
    margin: 10px 0px;
}
.khabar-span3 {
    margin: 16px 0;
    font-family: initial;
    color: #9f9f9f;
    font-size: 12px;
    margin-left: -10px;
    margin-bottom: 20px;
}
